html {
    background-color: white;
    padding: 10px;
}

.gol-grid-block-dead {
    width: 20px;
    height: 20px;
    background-color: grey;
    border: solid 1px black;
}

.gol-grid-block-alive {
    width: 20px;
    height: 20px;
    background-color: orangered;
    border: solid 1px black;
}